#mp3_player{
    width: 500px;
    height: 500px;
    background: yellow;
    padding: 5px;
    margin: 40px auto;
}
#mp3_player > div  > audio{
    width: 500px;
    background: blueviolet;
    float: left;

}
#mp3_player > canvas{
    width: 500px;
    height: 400px;
    background: lightcyan;
    float: left;
 
}